automatminer
gurobipy
matminer
matplotlib
numpy
pandas
scikit-learn
scikit-optimize
scipy
seaborn
tensorflow
tensorflow-probability
torch
tqdm
umap-learn
# mlmatrics: git clone https://github.com/janosh/mlmatrics && pip install -e mlmatrics